<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.sys.mapper.SysDeptMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.test.sys.api.entity.SysDeptEntity" id="sysDeptMap">
        <result property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="orderNum" column="order_num"/>
        <result property="delFlag" column="del_flag"/>
        <result property="businessType" column="business_type"/>
    </resultMap>


</mapper>
